# Block known source-viewing or scraping referrers
RewriteEngine On
RewriteCond %{HTTP_REFERER} view-page-source\.com [NC,OR]
RewriteCond %{HTTP_REFERER} webdev [NC,OR]
RewriteCond %{HTTP_REFERER} inspect [NC]
RewriteRule .* - [F,L]


# Disable directory listing
Options -Indexes

# Prevent browsers from caching HTML (harder to save locally)
<FilesMatch "\.(html|htm)$">
  Header set Cache-Control "no-store, no-cache, must-revalidate"
</FilesMatch>


